{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Add Flow</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phase_id.label(class="form-label") }}
            {{ form.phase_id(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.lanes.label(class="form-label") }}
            {{ form.lanes(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <h3>Existing Flows</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phase</th>
                <th>Lanes</th>
                <th>Actions</th>  <!-- Nueva columna para acciones -->
            </tr>
        </thead>
        <tbody>
            {% for flow in flows %}
            <tr>
                <td>{{ flow.name }}</td>
                <td>{{ flow.phase.name }}</td>
                <td>
                    {% for lane in flow.lanes %}
                        {{ lane.lane }} ({{ lane.cam_ref.cam_id }}),
                    {% endfor %}
                </td>
                <td>
                    <form action="{{ url_for('routes.delete_flow', flow_id=flow.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this flow?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}